.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.dark-2{
    color: #474747;
}

.dark-3{
    color: #757575;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;
}

nav img{
    height: 50px;
}
nav ul{
    display: flex;
    gap: 80px;
    align-items: center;
}
nav li{
    list-style: none;
}

nav li a{
    text-decoration: none;
    font-size: 20px;
}

.button-nav{
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
    padding: 18px 36px;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: white;
    margin-left: -50px;
}

.button-primary{
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
    padding: 18px 36px;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: white;
}
.button-secondary{
    background-color: transparent;
    border: 1px solid #FD6E0A;
    border-radius: 5px;
    padding: 18px 36px;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #FD6E0A;
}


.hero-banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 30px 0px 200px;
}

.hero-banner img{
    width: 680px;
}

.header{
    background-image: url('../Media/Images/developer.png'), url('../Media/Images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    background-color: #FFF8F3;
}
.banner-content{
    max-width: 580px;
}

.banner-subtitle{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 0px;
}

.banner-title{
    font-size: 55px;
    font-weight: 800;
    margin-top: 10px;
    margin-bottom: 20px;
}

.banner-description{
    font-size: 18px;
    font-weight: 100;
    margin-top: -10px;
}

main {
    max-width: 1140px;
    margin: 100px auto;
}

.about{
    background-color: #FFF8F3;
    padding: 100px 150px;
    border-radius: 5px;
}

.about-section{
    background-color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

.section-title{
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}

.section-description{
    font-size: 18px;
    font-weight: normal;
    text-align: center;
}

.about-items{
    display: flex;
    justify-content: space-between
}

.item-title{
    font-size: 16px;
    font-weight: normal;
    text-align: center;
}

.item-description{
    font-size: 16px;
    font-weight: bold;
}

.what-i-do-div{
    padding: 0px 150px;
}

.What-i-do{
    margin: 100px auto;
}

.card-items{
    display: flex;
    gap: 30px;
}

.card-item{
    height: auto;
    width: 267px;
    padding: 30px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.card-title{
    font-size: 20px;
    font-weight: bold;
}

.card-description{
    font-size: 16px;
    font-weight: normal;
    width: 100%;
}

.resume{
    display: flex;
    gap: 30px;
}

.resume-title{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0;
}

.resume-subtitle{
    font-size: 20;
    font-weight: 600;
    margin: 0;
}

.resume-description{
    font-size: 16;
    font-weight: normal;
    margin-bottom: 30px;
}

.button-resume{
    text-align: center;
}

footer{
    background-color: #FFF8F3;
}

footer h2{
    font-size: 35px;
    font-weight: bold;
}

footer p{
    font-size: 16px;
    font-weight: normal;
}

.footer{
    display: flex;
    max-width: 1140px;
    margin: 0 auto;
    gap: 100px;
    padding: 100px 0;
}
.input{
    display: block;
    margin: 10px 0;
    background-color: white;
    border: none;
    border-radius: 5px;
    width: 450px;
    height: 65px;
    padding: 0px 30px;
}

textarea{
    display: block;
    margin: 10px 0;
    background-color: white;
    border-radius: 5px;
    border: none;
    width: 450px;
    height: 65px;
    padding: 20px 30px;
}